* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    text-align: center;
}


.color {
    background-color: #90ee90;
    width: 20%;
    color: black;
    text-align: center;


}