* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    text-align: center;
}

.color {
    background-color: green;
    width: 20%;
    color: whitesmoke;
    text-align: center;
}

.vert {
    background-color: green;
    width: 10%;
    border-radius: 50%;
    color: white;
}

.rouge {
    background-color: red;
    width: 10%;
    border-radius: 50%;
    color: white;
}

img {
    height: 81px;
    width: 94px;
}